<!DOCTYPE html>
<html lang="en">

<%- include('./part/head.ejs') %>


<body>
    <%- include('./part/nav.ejs')  %>
    <div class="container">
        <h1>Show Log</h1>
        <div class="card light-blue darken-4">
            <div class="card-content white-text">
                <blockquote class="card-title"><%= data.cmd %></blockquote>
                <br>
                <p><%= data.log %></p>
            </div>
        </div>
    </div>
    <%- include('./part/footer.ejs')  %>
</body>

</html>